/* custom css goes here */
.Project_Div {
    text-align: center;
}
.Project_Div img {
        max-width: 100%;
        margin: auto;
        display: block;
    }
.dropdown-menu {
    left: 50% !important;
    margin-left: -40px;
}
body{
    background-color:black;
}
.font{
    color: white;
}
.youtube{
    color: darkred;
    font-size:xx-large;
    text-align:center;
}
li#youtube > a:active,
li#youtube > a:focus,
li#youtube > a:hover
{
    color:darkred !important;
    background-color:black !important;
}
li#twitch > a:active,
li#twitch > a:focus,
li#twitch > a:hover{
    color:rebeccapurple !important;
    background-color:black !important;
}
