body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #B84332;
	text-align: center;
	background-image: url('images/background.jpg');
	list-style-image: url('images/tennisballbullet.jpg');
	list-style-type: circle;
}
#allPage {
	border: 10px solid #7A2C21;
	padding: 5px;
	border-radius: 20px;
	width: 975px;
	right: auto;
	left: auto;
	margin-right: auto;
	margin-left: auto;
	background-color: #83B07D;
	opacity: 0.8;
}
.lefttext {
	text-align: left;
	vertical-align: top;
}
.center {
	text-align: center;
}
.txtxsmall {
	font-size: xx-small;
}
.txtsmall {
	font-size: small;
}
.tables {
	border-collapse: separate;
	border: 2px solid #D7D3C9;
	empty-cells: hide;
	table-layout: auto;
	border-radius: 20px;
}
.cleartables {
	border-collapse: separate;
	empty-cells: hide;
	table-layout: auto;
}
.ContactUs {
	color: #FFD729;
	font-size: medium;
	font-weight: bold;
	font-style: normal;
	text-decoration: underline blink;
}
textarea {
    resize: none;
}
