body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	background-color: #000000;
	color: #CC0000;
	list-style-image: url('oneplus bullet.jpg');
}
td {
	vertical-align: top;
	text-align: left;
}
a:link {
	color: #FF0000;
	text-decoration: underline;
}
h6 {
	text-decoration: underline;
	text-align: center;

}
a:hover {
	color: #808080;
	text-decoration: underline overline blink;
}
